.About{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 120vh;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 57%, rgba(210,217,245,1) 94%, rgba(198,204,255,1) 100%);
}

.profile-image{
    width: 300px;
    height: 230px;
}

.profile-container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    bottom: -430px;
    border: 2px solid red;
    animation: scale-in-center 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;;
}

@keyframes scale-in-center {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @media (max-width: 528px){

    .About{
      display: flex;
      justify-content: center;
      width: 100%;
      height: 250vh;
      background: rgb(255,255,255);
      background: radial-gradient(circle, rgba(255,255,255,1) 57%, rgba(210,217,245,1) 94%, rgba(198,204,255,1) 100%);
  }
  

    .profile-container{
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 100px;
      bottom: -491px;
      border: 2px solid red;
      animation: scale-in-center 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;;
  }
  .profile-image{
    width: 200px;
    height: 230px;
}
  }